In [1]:
import os

import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
os.getcwd()

'/home/anthony/summer-bursary-2018/bacteria'

In [3]:
os.listdir()

['Classification-Lag-Upsampling.ipynb',
 '.ipynb_checkpoints',
 'data',
 'Classification-Concat.ipynb',
 'Classification-Log.ipynb',
 'comparisons_plots.pdf',
 'Classification-Stat.ipynb',
 'Classification-Concat-Upsampling.ipynb',
 'Data Preparation.ipynb',
 'Data Analysis.ipynb',
 'Classification-Original.ipynb',
 'Classification-Lag.ipynb']

In [4]:
os.listdir('data')

['Classific.py',
 'graphs.pdf',
 'growth_stages.csv',
 '16ms_32ms_growth_phase_spectra.csv',
 'bacteria_32ms.csv',
 'PC6allwavelengths.png',
 'bacteria_16ms.csv',
 'wavelengths.csv',
 '16_ms_lag_codes.csv',
 'bacteria.csv']

In [5]:
df = pd.read_csv('data/16ms_32ms_growth_phase_spectra.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043 entries, 0 to 1042
Columns: 271 entries, wavelength to sa08_32ms_stat
dtypes: float64(271)
memory usage: 2.2 MB

In [7]:
df.describe()

,wavelength,bc01_16ms_lag,bc02_16ms_lag,bc03_16ms_lag,bc04_16ms_lag,bc05_16ms_lag,bc06_16ms_lag,bc07_16ms_lag,bc08_16ms_lag,bc09_16ms_lag,...,sa07_16ms_stat,sa08_16ms_stat,sa01_32ms_stat,sa02_32ms_stat,sa03_32ms_stat,sa04_32ms_stat,sa05_32ms_stat,sa06_32ms_stat,sa07_32ms_stat,sa08_32ms_stat
count,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,...,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000
mean,594.306442,340.917966,218.282554,410.265450,402.411758,147.930946,304.443366,690.243351,615.625463,508.217097,...,1617.105057,1424.455291,1678.851611,1582.324367,1752.327722,1072.604400,2487.669405,1599.289495,1902.815892,1755.026657
std,112.580390,517.453981,328.263253,632.792734,584.358827,213.381498,457.365956,1076.320701,1006.404767,829.675942,...,2683.151537,2381.357464,2879.515933,2702.094106,2988.042428,1838.334717,4268.994423,2653.006792,3166.968570,2929.745473
min,395.494100,-3.510400,-2.800760,-2.581292,-2.554170,-2.985820,-3.429370,-2.280780,-4.327390,-3.340390,...,-2.563420,-1.462970,-2.103330,-1.784151,-2.269830,-1.515490,-0.659870,-11.208600,-1.796640,-0.447010
25%,497.482200,3.738191,2.116139,3.614560,4.258268,3.017208,3.429759,4.382186,3.291279,3.093110,...,12.687795,10.883005,9.192903,7.764677,8.325252,6.301859,13.161080,11.004515,11.811570,10.710685
50%,596.374400,40.780240,27.023980,48.616896,58.972290,24.396270,37.316280,78.138510,46.407810,41.594080,...,130.242300,104.561900,108.065100,101.703279,111.690200,67.091590,156.489900,129.346400,145.233800,130.134800
75%,692.170600,496.754350,319.173550,571.801010,629.260350,223.730650,446.739200,940.880800,775.154550,630.964700,...,1936.329500,1679.898000,1858.899000,1765.909212,1966.221500,1192.396500,2769.300000,1908.102500,2265.020500,2097.588000
max,784.870900,1649.755000,1044.867000,2050.509445,1755.384000,670.982500,1426.308000,3542.053000,3369.752000,2848.575000,...,9235.687000,8223.580000,9870.242000,9234.608023,10242.690000,6358.552000,14776.430000,9130.342000,10880.640000,10086.280000

In [8]:
df.isnull().values.any()

False

In [9]:
bacteria_prefixes = np.unique(list(map(lambda col_name: col_name[:2], df.columns.values[1:])))
bacteria_prefixes

array(['bc', 'ec', 'lm', 'pa', 'sa', 'se'], dtype='<U2')

In [10]:
print(df.columns.values)

['wavelength' 'bc01_16ms_lag' 'bc02_16ms_lag' 'bc03_16ms_lag'
 'bc04_16ms_lag' 'bc05_16ms_lag' 'bc06_16ms_lag' 'bc07_16ms_lag'
 'bc08_16ms_lag' 'bc09_16ms_lag' 'bc10_16ms_lag' 'bc11_16ms_lag'
 'bc12_16ms_lag' 'bc01_32ms_lag' 'bc02_32ms_lag' 'bc03_32ms_lag'
 'bc04_32ms_lag' 'bc05_32ms_lag' 'bc06_32ms_lag' 'bc07_32ms_lag'
 'bc08_32ms_lag' 'bc09_32ms_lag' 'bc10_32ms_lag' 'bc11_32ms_lag'
 'bc12_32ms_lag' 'bc01_16ms_log' 'bc02_16ms_log' 'bc03_16ms_log'
 'bc04_16ms_log' 'bc05_16ms_log' 'bc06_16ms_log' 'bc07_16ms_log'
 'bc08_16ms_log' 'bc09_16ms_log' 'bc10_16ms_log' 'bc11_16ms_log'
 'bc12_16ms_log' 'bc01_32ms_log' 'bc02_32ms_log' 'bc03_32ms_log'
 'bc04_32ms_log' 'bc05_32ms_log' 'bc06_32ms_log' 'bc07_32ms_log'
 'bc08_32ms_log' 'bc09_32ms_log' 'bc10_32ms_log' 'bc11_32ms_log'
 'bc12_32ms_log' 'bc01_16ms_stat' 'bc02_16ms_stat' 'bc03_16ms_stat'
 'bc04_16ms_stat' 'bc05_16ms_stat' 'bc06_16ms_stat' 'bc07_16ms_stat'
 'bc08_16ms_stat' 'bc09_16ms_stat' 'bc10_16ms_stat' 'bc11_16ms_stat'
 'bc12_16ms_stat' 'bc01_32ms_stat' 'bc02_32ms_stat' 'bc03_32ms_stat'
 'bc04_32ms_stat' 'bc05_32ms_stat' 'bc06_32ms_stat' 'bc07_32ms_stat'
 'bc08_32ms_stat' 'bc09_32ms_stat' 'bc10_32ms_stat' 'bc11_32ms_stat'
 'bc12_32ms_stat' 'ec01_16ms_lag' 'ec02_16ms_lag' 'ec03_16ms_lag'
 'ec04_16ms_lag' 'ec05_16ms_lag' 'ec06_16ms_lag' 'ec07_16ms_lag'
 'ec08_16ms_lag' 'ec01_32ms_lag' 'ec02_32ms_lag' 'ec03_32ms_lag'
 'ec04_32ms_lag' 'ec05_32ms_lag' 'ec06_32ms_lag' 'ec07_32ms_lag'
 'ec08_32ms_lag' 'ec01_16ms_log' 'ec02_16ms_log' 'ec03_16ms_log'
 'ec04_16ms_log' 'ec05_16ms_log' 'ec01_32ms_log' 'ec02_32ms_log'
 'ec03_32ms_log' 'ec04_32ms_log' 'ec05_32ms_log' 'ec01_16ms_stat'
 'ec02_16ms_stat' 'ec03_16ms_stat' 'ec04_16ms_stat' 'ec05_16ms_stat'
 'ec06_16ms_stat' 'ec07_16ms_stat' 'ec08_16ms_stat' 'ec09_16ms_stat'
 'ec01_32ms_stat' 'ec02_32ms_stat' 'ec03_32ms_stat' 'ec04_32ms_stat'
 'ec05_32ms_stat' 'ec06_32ms_stat' 'ec07_32ms_stat' 'ec08_32ms_stat'
 'ec09_32ms_stat' 'lm01_16ms_lag' 'lm02_16ms_lag' 'lm03_16ms_lag'
 'lm04_16ms_lag' 'lm05_16ms_lag' 'lm01_32ms_lag' 'lm02_32ms_lag'
 'lm03_32ms_lag' 'lm04_32ms_lag' 'lm05_32ms_lag' 'lm01_16ms_log'
 'lm02_16ms_log' 'lm03_16ms_log' 'lm01_32ms_log' 'lm02_32ms_log'
 'lm03_32ms_log' 'lm01_16ms_stat' 'lm02_16ms_stat' 'lm03_16ms_stat'
 'lm01_32ms_stat' 'lm02_32ms_stat' 'lm03_32ms_stat' 'pa01_16ms_lag'
 'pa02_16ms_lag' 'pa03_16ms_lag' 'pa04_16ms_lag' 'pa05_16ms_lag'
 'pa06_16ms_lag' 'pa01_32ms_lag' 'pa02_32ms_lag' 'pa03_32ms_lag'
 'pa04_32ms_lag' 'pa05_32ms_lag' 'pa06_32ms_lag' 'pa01_16ms_log'
 'pa02_16ms_log' 'pa03_16ms_log' 'pa04_16ms_log' 'pa05_16ms_log'
 'pa06_16ms_log' 'pa07_16ms_log' 'pa08_16ms_log' 'pa01_32ms_log'
 'pa02_32ms_log' 'pa03_32ms_log' 'pa04_32ms_log' 'pa05_32ms_log'
 'pa06_32ms_log' 'pa07_32ms_log' 'pa08_32ms_log' 'pa01_16ms_stat'
 'pa02_16ms_stat' 'pa03_16ms_stat' 'pa04_16ms_stat' 'pa05_16ms_stat'
 'pa06_16ms_stat' 'pa07_16ms_stat' 'pa08_16ms_stat' 'pa01_32ms_stat'
 'pa02_32ms_stat' 'pa03_32ms_stat' 'pa04_32ms_stat' 'pa05_32ms_stat'
 'pa06_32ms_stat' 'pa07_32ms_stat' 'pa08_32ms_stat' 'se01_16ms_lag'
 'se02_16ms_lag' 'se03_16ms_lag' 'se04_16ms_lag' 'se05_16ms_lag'
 'se01_32ms_lag' 'se02_32ms_lag' 'se03_32ms_lag' 'se04_32ms_lag'
 'se05_32ms_lag' 'se01_16ms_log' 'se02_16ms_log' 'se03_16ms_log'
 'se04_16ms_log' 'se05_16ms_log' 'se01_32ms_log' 'se02_32ms_log'
 'se03_32ms_log' 'se04_32ms_log' 'se05_32ms_log' 'se01_16ms_stat'
 'se02_16ms_stat' 'se03_16ms_stat' 'se04_16ms_stat' 'se05_16ms_stat'
 'se06_16ms_stat' 'se07_16ms_stat' 'se01_32ms_stat' 'se02_32ms_stat'
 'se03_32ms_stat' 'se04_32ms_stat' 'se05_32ms_stat' 'se06_32ms_stat'
 'se07_32ms_stat' 'sa01_16ms_lag' 'sa02_16ms_lag' 'sa03_16ms_lag'
 'sa04_16ms_lag' 'sa05_16ms_lag' 'sa06_16ms_lag' 'sa07_16ms_lag'
 'sa08_16ms_lag' 'sa09_16ms_lag' 'sa10_16ms_lag' 'sa11_16ms_lag'
 'sa01_32ms_lag' 'sa02_32ms_lag' 'sa03_32ms_lag' 'sa04_32ms_lag'
 'sa05_32ms_lag' 'sa06_32ms_lag' 'sa07_32ms_lag' 'sa08_32ms_lag'
 'sa09_32ms_lag' 'sa10_32ms_lag' 'sa11_32ms_lag' 'sa01_16ms_log'
 'sa02_16ms_log' 'sa03_16ms_log' 'sa04_16ms_log' 'sa05_16ms_log'
 'sa06_16ms_log' 'sa07_16ms_log' 'sa08_16ms_log' 'sa01_32ms_log'
 'sa02_32ms_log' 'sa03_32ms_log' 'sa04_32ms_log' 'sa05_32ms_log'
 'sa06_32ms_log' 'sa07_32ms_log' 'sa08_32ms_log' 'sa01_16ms_stat'
 'sa02_16ms_stat' 'sa03_16ms_stat' 'sa04_16ms_stat' 'sa05_16ms_stat'
 'sa06_16ms_stat' 'sa07_16ms_stat' 'sa08_16ms_stat' 'sa01_32ms_stat'
 'sa02_32ms_stat' 'sa03_32ms_stat' 'sa04_32ms_stat' 'sa05_32ms_stat'
 'sa06_32ms_stat' 'sa07_32ms_stat' 'sa08_32ms_stat']

In [11]:
growth_phases = ['lag', 'log', 'stat']

In [12]:
df_16ms = pd.concat([df['wavelength'], df.filter(regex='16ms')], axis=1)
df_16ms.columns = df_16ms.columns.str.replace("_16ms", "")
df_16ms.describe()

,wavelength,bc01_lag,bc02_lag,bc03_lag,bc04_lag,bc05_lag,bc06_lag,bc07_lag,bc08_lag,bc09_lag,...,sa07_log,sa08_log,sa01_stat,sa02_stat,sa03_stat,sa04_stat,sa05_stat,sa06_stat,sa07_stat,sa08_stat
count,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,...,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000
mean,594.306442,340.917966,218.282554,410.265450,402.411758,147.930946,304.443366,690.243351,615.625463,508.217097,...,2219.233262,2129.305269,1328.419705,1269.717908,1364.213866,863.688448,2103.026439,1319.282527,1617.105057,1424.455291
std,112.580390,517.453981,328.263253,632.792734,584.358827,213.381498,457.365956,1076.320701,1006.404767,829.675942,...,3650.362529,3532.257580,2279.788170,2168.407814,2322.674269,1473.005855,3605.260195,2183.988762,2683.151537,2381.357464
min,395.494100,-3.510400,-2.800760,-2.581292,-2.554170,-2.985820,-3.429370,-2.280780,-4.327390,-3.340390,...,-1.329910,-1.707460,-3.292120,-3.688844,-2.648260,-2.533020,-1.794040,-18.529200,-2.563420,-1.462970
25%,497.482200,3.738191,2.116139,3.614560,4.258268,3.017208,3.429759,4.382186,3.291279,3.093110,...,12.730600,13.597400,7.065457,6.727410,8.387044,7.015745,12.561545,11.080080,12.687795,10.883005
50%,596.374400,40.780240,27.023980,48.616896,58.972290,24.396270,37.316280,78.138510,46.407810,41.594080,...,164.733300,155.054400,83.378060,82.573023,91.735990,62.124780,136.154600,107.911900,130.242300,104.561900
75%,692.170600,496.754350,319.173550,571.801010,629.260350,223.730650,446.739200,940.880800,775.154550,630.964700,...,2772.608500,2570.135000,1472.295500,1408.295259,1529.276000,958.098300,2328.337000,1577.928000,1936.329500,1679.898000
max,784.870900,1649.755000,1044.867000,2050.509445,1755.384000,670.982500,1426.308000,3542.053000,3369.752000,2848.575000,...,12143.850000,11920.820000,7842.712000,7425.795430,7958.509000,5102.565000,12503.490000,7512.713000,9235.687000,8223.580000

In [13]:
df_log = pd.concat([df_16ms['wavelength'], df_16ms.filter(regex='log')], axis=1)
df_log.columns = df_log.columns.str.replace("_log", "")
df_log.describe()

,wavelength,bc01,bc02,bc03,bc04,bc05,bc06,bc07,bc08,bc09,...,se04,se05,sa01,sa02,sa03,sa04,sa05,sa06,sa07,sa08
count,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,...,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000
mean,594.306442,1845.690501,2805.247006,2159.736064,2323.345430,1691.112234,1842.185726,3018.419962,2212.061951,2427.873415,...,525.593795,706.459267,2859.039434,2619.993915,1835.100105,1655.948911,2019.291804,2132.513983,2219.233262,2129.305269
std,112.580390,3175.233106,4696.883571,3650.365313,3809.651177,2761.918251,3124.289390,5178.912875,3805.985676,4183.391664,...,865.528218,1127.297572,4824.808067,4356.734755,3105.833884,2795.937308,3405.844639,3575.248224,3650.362529,3532.257580
min,395.494100,-2.595130,-2.100660,-1.697019,-1.489386,-2.628490,-1.512520,-1.243880,-1.440830,-1.309700,...,-3.807140,-1.635250,-0.876040,-1.721794,-2.637400,-51.340100,-2.579490,-20.140300,-1.329910,-1.707460
25%,497.482200,7.575726,13.243410,10.047860,12.335545,10.515150,7.628977,10.855355,8.406793,8.420547,...,4.678921,10.419070,12.268125,13.148034,9.520971,8.123541,11.799115,10.496235,12.730600,13.597400
50%,596.374400,110.888200,190.997300,129.754492,170.744723,133.977400,109.702500,169.322100,118.601100,125.765000,...,48.097500,85.086280,177.201400,177.556703,120.311700,109.512400,135.578400,145.705400,164.733300,155.054400
75%,692.170600,2032.778000,3317.692500,2502.592340,2870.565265,2111.949000,2123.466500,3386.275000,2455.584000,2702.108000,...,633.476450,884.718400,3324.779500,3143.048763,2108.728000,1927.190000,2324.856500,2494.972000,2772.608500,2570.135000
max,784.870900,10946.790000,15761.900000,12314.991630,12534.148770,9193.765000,10681.240000,17819.470000,13152.920000,14400.560000,...,3019.170000,3899.915000,16206.470000,14382.784180,10568.060000,9594.626000,11591.680000,12155.000000,12143.850000,11920.820000

In [14]:
species_dfs = []

for species in bacteria_prefixes:
    species_df = df_log.filter(regex=species)
    species_df.columns = species_df.columns.str.replace(species, "")
    species_df.columns = pd.MultiIndex.from_product([[species], species_df.columns])
    
    species_dfs.append(species_df)
    
df_log_multilevel = pd.concat(species_dfs, axis=1)
df_log_multilevel.head()

         bc                                                              \
         01        02        03        04        05        06        07
0 -1.823470 -0.445570 -0.475163  2.085158  1.711495  0.591825 -0.808470
1  0.210400 -1.209390 -0.135760  0.536180  0.305624  0.328791 -0.995030
2  0.631193  0.572870  1.425496 -1.489386 -0.122250  0.263034  0.248757
3  0.420815  4.392246 -0.067887  3.276830 -2.628490 -1.381000  1.243856
4  3.577017  1.973376  3.122725  1.132023 -1.222550 -0.920670  2.923092

                                   ...           sa                      \
         08        09        10    ...           04        05        06
0  0.540280 -0.311810  0.306702    ...     2.822809 -2.579490  1.045864
1 -0.600320 -0.561250  0.061425    ...     8.592621 -0.692060  0.326841
2 -0.420220  0.935429  1.594791    ...    -0.188260 -0.943720  5.687094
3  0.660376  3.180636  2.523547    ...    -3.964090  2.957123  3.081425
4 -0.600340  2.432262 -4.616560    ...    -3.965050  1.824630 -5.968470

                             se
         07        08        01       02        03        04        05
0 -0.189970 -0.131340  0.646845 -0.46634  0.379020 -0.387130  0.787276
1 -1.329840  0.394027 -1.617090 -0.93267 -1.010715  0.129045  0.242244
2  0.823225 -1.707460  0.646836 -0.93267 -1.073889  0.516185  0.242238
3  2.089861  2.627011  0.258749 -0.79947 -0.063173  0.322631  1.756314
4  0.443312  4.597338  1.552515 -0.19987  0.379046 -0.967900 -0.181680

[5 rows x 41 columns]

In [15]:
pd.MultiIndex.from_product([['lag']] + df_log_multilevel.columns.levels)

MultiIndex(levels=[['lag'], ['bc', 'ec', 'lm', 'pa', 'sa', 'se'], ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]])

In [16]:
growth_phase_dfs = []

for growth_phase in growth_phases:
    growth_phase_df = df_16ms.filter(regex=growth_phase)
    
    species_dfs = []

    for species in bacteria_prefixes:
        species_df = growth_phase_df.filter(regex=species)
        species_df.columns = species_df.columns.str.replace(species, "")
        species_df.columns = species_df.columns.str.replace("_%s" % growth_phase, "")
        species_df.columns = pd.MultiIndex.from_product([[species], species_df.columns])

        species_dfs.append(species_df)

    species_multilevel_df = pd.concat(species_dfs, axis=1)
        
    growth_phase_dfs.append(species_multilevel_df)
    
growth_phases_df = pd.concat(growth_phase_dfs, 
                             axis=1, 
                             keys=growth_phases, 
                             names=('growth_phase', 'species', 'replicate'))
growth_phases_df.head()

growth_phase       lag                                                    \
species             bc
replicate           01        02        03        04        05        06
0             0.000000  0.622353  0.064528 -1.094650 -1.492810 -0.979760
1             1.560060 -2.115990  0.645279 -2.554170 -0.559800 -0.061230
2             0.715025  0.062234 -1.032450 -0.912210  2.923387  0.489875
3            -0.520060  2.178335 -2.064991  0.851433  3.047967 -1.530940
4             0.130014  1.867163 -1.419711  3.709871  2.985793  0.000003

growth_phase                                            ...         stat  \
species                                                 ...           sa
replicate           07        08        09        10    ...           06
0            -0.240070  0.060945  0.247423  2.628512    ...     1.757536
1             0.600163 -0.792280  0.123709  0.292028    ...    -2.071090
2             0.540146  0.182837 -0.742270 -0.408840    ...    -2.071340
3            -1.200400  0.853271  1.360885 -5.741500    ...     3.714417
4             1.260425 -3.047420  2.226921  4.453517    ...    -2.644110

growth_phase                                                              \
species                                 se
replicate           07        08        01        02        03        04
0            -0.525800 -0.182860  0.918231  1.283523 -0.734724  0.183516
1            -0.328620 -0.853340 -0.655870  0.192528 -1.269057 -1.345770
2            -0.985860 -0.182860  0.393521  1.219347 -1.669815  0.367029
3             1.117374  2.255372 -1.180630 -3.337340 -0.667963  1.590540
4             0.591557  0.975300  1.246246  1.604498  0.868363  0.917630

growth_phase
species
replicate           05        06        07
0             2.187136 -0.774600  0.423758
1            -1.004900 -0.193650  1.089653
2            -3.369360 -1.032800 -0.363220
3            -1.477880 -0.645540 -1.574020
4            -0.886730  1.420193 -1.816200

[5 rows x 135 columns]

In [17]:
growth_phases_df.describe()

growth_phase          lag                                                      \
species                bc
replicate              01           02           03           04           05
count         1043.000000  1043.000000  1043.000000  1043.000000  1043.000000
mean           340.917966   218.282554   410.265450   402.411758   147.930946
std            517.453981   328.263253   632.792734   584.358827   213.381498
min             -3.510400    -2.800760    -2.581292    -2.554170    -2.985820
25%              3.738191     2.116139     3.614560     4.258268     3.017208
50%             40.780240    27.023980    48.616896    58.972290    24.396270
75%            496.754350   319.173550   571.801010   629.260350   223.730650
max           1649.755000  1044.867000  2050.509445  1755.384000   670.982500

growth_phase                                                                   \
species
replicate              06           07           08           09           10
count         1043.000000  1043.000000  1043.000000  1043.000000  1043.000000
mean           304.443366   690.243351   615.625463   508.217097   267.395909
std            457.365956  1076.320701  1006.404767   829.675942   411.266389
min             -3.429370    -2.280780    -4.327390    -3.340390   -24.324100
25%              3.429759     4.382186     3.291279     3.093110    -1.435505
50%             37.316280    78.138510    46.407810    41.594080    26.498390
75%            446.739200   940.880800   775.154550   630.964700   401.714900
max           1426.308000  3542.053000  3369.752000  2848.575000  1316.226000

growth_phase     ...              stat                                         \
species          ...                sa                                     se
replicate        ...                06           07           08           01
count            ...       1043.000000  1043.000000  1043.000000  1043.000000
mean             ...       1319.282527  1617.105057  1424.455291   332.375709
std              ...       2183.988762  2683.151537  2381.357464   525.271213
min              ...        -18.529200    -2.563420    -1.462970    -2.361310
25%              ...         11.080080    12.687795    10.883005     2.919165
50%              ...        107.911900   130.242300   104.561900    33.991250
75%              ...       1577.928000  1936.329500  1679.898000   436.948300
max              ...       7512.713000  9235.687000  8223.580000  1713.175000

growth_phase                                                                   \
species
replicate              02           03           04           05           06
count         1043.000000  1043.000000  1043.000000  1043.000000  1043.000000
mean           464.757981   346.619581   591.019431   944.666722   683.460369
std            783.676339   589.041597  1030.124114  1631.945511  1174.686894
min             -3.337340    -2.003951    -2.814100    -3.369360    -3.098660
25%              3.433975     2.271594     7.036556     5.055340     3.809487
50%             34.734540    22.254616    41.866360    52.880860    42.561820
75%            533.983350   395.229638   603.002400  1030.629000   753.640300
max           2670.119000  2010.552740  3632.655000  5669.533000  4091.082000

growth_phase
species
replicate              07
count         1043.000000
mean           871.476315
std           1501.994463
min             -3.450760
25%              5.207000
50%             52.886240
75%            957.149050
max           5218.670000

[8 rows x 135 columns]

In [18]:
def make_df(integration_time):
    """Make a dataframe for a given integration time.
    
    The resulting dataframe has a hierarchical column index where the levels are:
    1. growth phase
    2. bacteria species
    3. replicate.
    
    Arguments:
        integration_time: The integration time of the readings to use. Either '16ms' or '32ms'.
        
    Returns: the processed dataframe.
    """
    assert integration_time in ['16ms', '32ms']
    
    result_df = pd.concat([df['wavelength'], df.filter(regex=integration_time)], axis=1)
    result_df.columns = result_df.columns.str.replace("_%s" % integration_time, "")
    
    growth_phase_dfs = []

    for growth_phase in growth_phases:
        growth_phase_df = result_df.filter(regex=growth_phase)

        species_dfs = []

        for species in bacteria_prefixes:
            species_df = growth_phase_df.filter(regex=species)
            species_df.columns = species_df.columns.str.replace(species, "")
            species_df.columns = species_df.columns.str.replace("_%s" % growth_phase, "")
            species_df.columns = pd.MultiIndex.from_product([[species], species_df.columns])

            species_dfs.append(species_df)

        species_multilevel_df = pd.concat(species_dfs, axis=1)

        growth_phase_dfs.append(species_multilevel_df)

    growth_phases_df = pd.concat(growth_phase_dfs, 
                                 axis=1, 
                                 keys=growth_phases, 
                                 names=('growth_phase', 'species', 'replicate'))
    
    return growth_phases_df

In [19]:
bacteria_16ms = make_df(integration_time='16ms')
bacteria_16ms.head()

growth_phase       lag                                                    \
species             bc
replicate           01        02        03        04        05        06
0             0.000000  0.622353  0.064528 -1.094650 -1.492810 -0.979760
1             1.560060 -2.115990  0.645279 -2.554170 -0.559800 -0.061230
2             0.715025  0.062234 -1.032450 -0.912210  2.923387  0.489875
3            -0.520060  2.178335 -2.064991  0.851433  3.047967 -1.530940
4             0.130014  1.867163 -1.419711  3.709871  2.985793  0.000003

growth_phase                                            ...         stat  \
species                                                 ...           sa
replicate           07        08        09        10    ...           06
0            -0.240070  0.060945  0.247423  2.628512    ...     1.757536
1             0.600163 -0.792280  0.123709  0.292028    ...    -2.071090
2             0.540146  0.182837 -0.742270 -0.408840    ...    -2.071340
3            -1.200400  0.853271  1.360885 -5.741500    ...     3.714417
4             1.260425 -3.047420  2.226921  4.453517    ...    -2.644110

growth_phase                                                              \
species                                 se
replicate           07        08        01        02        03        04
0            -0.525800 -0.182860  0.918231  1.283523 -0.734724  0.183516
1            -0.328620 -0.853340 -0.655870  0.192528 -1.269057 -1.345770
2            -0.985860 -0.182860  0.393521  1.219347 -1.669815  0.367029
3             1.117374  2.255372 -1.180630 -3.337340 -0.667963  1.590540
4             0.591557  0.975300  1.246246  1.604498  0.868363  0.917630

growth_phase
species
replicate           05        06        07
0             2.187136 -0.774600  0.423758
1            -1.004900 -0.193650  1.089653
2            -3.369360 -1.032800 -0.363220
3            -1.477880 -0.645540 -1.574020
4            -0.886730  1.420193 -1.816200

[5 rows x 135 columns]

In [20]:
bacteria_32ms = make_df(integration_time='32ms')
bacteria_32ms.head()

growth_phase       lag                                                    \
species             bc
replicate           01        02        03        04        05        06
0            -0.086670 -0.456390  0.516225 -1.540620  0.456133 -1.183870
1             0.996705 -0.165960 -0.043018 -1.054100  0.663466  0.612345
2             0.650022 -0.746820 -0.731316 -0.648680  0.995199 -0.204110
3            -0.346710  0.622385  0.817394 -0.202730  1.327006  0.285776
4             1.993549  1.078807 -0.860428  0.243273  0.248810  0.449092

growth_phase                                            ...         stat  \
species                                                 ...           sa
replicate           07        08        09        10    ...           06
0             0.800218  0.487562  0.494845  3.310051    ...     1.046171
1             0.040013  0.162518  0.329893  1.829989    ...    -2.803270
2            -0.440120 -1.097000  0.288661  0.973460    ...     0.000002
3             1.000333  0.203161  0.329910 -2.733980    ...     6.001085
4             1.000333 -1.097080  0.659837  4.844247    ...    -2.476320

growth_phase                                                              \
species                                 se
replicate           07        08        01        02        03        04
0            -0.219080 -0.000002  0.655876 -1.283520 -0.578877 -0.489380
1            -0.744870  0.893972 -1.093120 -0.385060 -0.222642  0.448589
2            -0.394340  1.178423 -0.349810 -0.385060  0.133583  0.163123
3             2.059493  1.341045 -0.087450 -1.069670  0.311717  0.122343
4             0.438183  0.934681  1.005742  1.839845  0.534377 -0.203920

growth_phase
species
replicate           05        06        07
0            -0.394080 -0.731570  0.080716
1             0.157629  0.559429  0.121073
2            -1.930980 -0.516400 -0.847510
3             1.418768  0.086071  0.403608
4            -0.472910  0.903758 -0.201800

[5 rows x 135 columns]

In [21]:
bacteria_16ms.to_csv('data/bacteria_16ms.csv')
bacteria_32ms.to_csv('data/bacteria_32ms.csv')
df['wavelength'].to_csv('data/wavelengths.csv')